<!-- <form [formGroup]="form" novalidate>

  <input type="hidden" formControlName="id" [(ngModel)]="currentUser.id"/>

  <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Name</label>
        <div class="col-lg-9">
            <input class="form-control"
                   type="text"
                   formControlName="username"
                   [(ngModel)]="currentUser.username"
                   placeholder="Name">
        </div>
    </div>
    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">LastName</label>
      <div class="col-lg-9">
          <input class="form-control"
                 type="text"
                 formControlName="lastName"
                 [(ngModel)]="currentUser.lastName"
                 placeholder="Last Name">
      </div>
  </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">E-mail</label>
        <div class="col-lg-9">
            <input class="form-control"
                  type="email"
                  formControlName="email"
                  [(ngModel)]="currentUser.email"
                  placeholder="email@gmail.com">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Address</label>
        <div class="col-lg-9">
            <input class="form-control"
                   type="text"
                   formControlName="physical_address"
                   [(ngModel)]="currentUser.physical_address"
                   placeholder="Address">
        </div>
    </div>

    <div class="form-group row">
      <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
      <div class="col-lg-9">
          <input class="form-control"
                 type="number"
                 formControlName="phone_number"
                 [(ngModel)]="currentUser.phone_number"
                 placeholder="Phone Number">
      </div>
  </div>

    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">About</label>
        <div class="col-lg-9">
            <input class="form-control"
                   type="text"
                   formControlName="about"
                   [(ngModel)]="currentUser.about"
                   placeholder="janeuser">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
            <input type="button" class="btn btn-primary" value="Save Changes" (click)="save(currentUser.id)">
        </div>
    </div>
</form> -->